@mixin font($name, $weight) {
    @font-face {
        font: {
            family: $name;
            weight: $weight;
            display: swap;
        }

        src: url('../fonts/#{$name}-#{$weight}.woff2') format('woff2'),
        url('../fonts/#{$name}-#{$weight}.woff') format('woff');
    }
}